<div class="form-group">
  <label>Dado de Dano</label>
  <input type="text" name="system.damage" value="{{system.damage}}" />
</div>
<div class="form-group">
  <label>Tipo de Ataque</label>
  <select name="system.tipoAtaque">
    {{selectOptions attackTypes selected=system.tipoAtaque}}
  </select>
</div>
<div class="form-group">
  <label>Habilidade</label>
  <input type="text" name="system.habilidade" value="{{system.habilidade}}" />
</div>
<div class="form-group">
  <label>Tipo de Dano</label>
  <input type="text" name="system.tipo" value="{{system.tipo}}" />
</div>
<div class="form-group">
  <label>Custo</label>
  <input type="text" name="system.custo" value="{{system.custo}}" data-dtype="Number" />
</div>