<div class="tab main active" data-group="primary" data-tab="main">

  <div class="attributes-list">
    {{#each system.attributes as |attribute key|}}
    <div class="attribute-row">
      <label class="attribute-label rollable" data-roll-type="attribute"
        data-roll-key="{{key}}">{{attribute.label}}</label>
      <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
      <span class="attribute-mod">{{numberFormat attribute.mod decimals=0 sign=true}}</span>
    </div>
    {{/each}}
  </div>

  <div class="stats-list">
    <div class="stat-resources">
      <div class="stat-row vertical-stat">
        <label>Pontos de Vida</label>
        <div class="value-group">
          <input type="text" name="system.pv.value" value="{{system.pv.value}}" data-dtype="Number" />
          <span>/</span>
          <input type="text" name="system.pv.max" value="{{system.pv.max}}" data-dtype="Number" />
        </div>
      </div>
      <div class="stat-row vertical-stat">
        <label>Pontos de Sanidade</label>
        <div class="value-group">
          <input type="text" name="system.san.value" value="{{system.san.value}}" data-dtype="Number" />
          <span>/</span>
          <span class="stat-value">{{system.san.totalMax}}</span>
        </div>
      </div>
    </div>

    <div class="stat-resources">
      <div class="stat-row vertical-stat">
        <label>Defesa</label>
        <span class="stat-value">{{system.defesa.total}}</span>
      </div>
      <div class="stat-row vertical-stat">
        <label>Sintonia</label>
        <span class="stat-value">{{system.sintonia.value}}</span>
      </div>
    </div>

    <div class="quick-attacks-list">
      <h3>Acesso</h3>
      {{#each equippedWeapons as |item id|}}
      <div class="item item-row" data-item-id="{{item._id}}">
        <div class="item-name">
          <img src="{{item.img}}" width="24" height="24" />
          {{item.name}} ({{item.system.damage}})
        </div>
        <a class="item-control item-roll-attack" title="Rolar Ataque"><i class="ra ra-sword"></i> Atacar</a>
      </div>
      {{/each}}
      {{#if (eq equippedWeapons.length 0)}}
      <div class="item-row-empty">Nenhuma arma equipada</div>
      {{/if}}
    </div>
    <div class="quick-manifestations-list">
      <h3>Manifestações</h3>
      {{#each equippedManifestations as |item id|}}
      <div class="item item-row" data-item-id="{{item._id}}">
        <div class="item-name">
          <img src="{{item.img}}" width="24" height="24" />
          {{item.name}} (Custo: {{item.system.custo}})
        </div>
        <a class="item-control item-roll-manifestation" title="Manifestar"><i class="ra ra-circle-sparks"></i> Usar</a>
      </div>
      {{/each}}
      {{#if (eq equippedManifestations.length 0)}}
      <div class="item-row-empty">Nenhuma manifestação equipada</div>
      {{/if}}
    </div>
  </div>

</div>