<div class="ine chat-card">
  <header class="card-header">
    <h3>{{flavor}}</h3>
  </header>

  <div class="card-content">
    <div class="roll-group">
      <div class="roll-label">{{rolls.[0].options.label}}</div>
      <div class="roll-formula">{{rolls.[0].formula}}</div>
      <div class="roll-total">{{rolls.[0].total}}</div>
    </div>

    <div class="roll-group">
      <div class="roll-label">{{rolls.[1].options.label}}</div>
      <div class="roll-formula">{{rolls.[1].formula}}</div>
      <div class="roll-total">{{rolls.[1].total}}</div>
    </div>
  </div>
</div>