<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Nome do Item" /></h1>
    </div>
  </header>
  <section class="sheet-body">

    {{#if (eq item.type "arma")}}
    {{> "systems/ine/templates/partials/items/_item-arma-fields.hbs"}}
    {{/if}}

    {{#if (eq item.type "armadura")}}
    {{> "systems/ine/templates/partials/items/_item-armadura-fields.hbs"}}
    {{/if}}

    {{#if (eq item.type "manifestacao")}}
    {{> "systems/ine/templates/partials/items/_item-manifestacao-fields.hbs"}}
    {{/if}}

    <div class="form-group description">
      <label>Descrição</label>
      {{editor enriched.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>