<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Nome do Item"/></h1>
    </div>
  </header>

  <div class="sheet-body">

    {{!-- Mostra campos específicos para o tipo 'arma' --}}
    {{#if (eq item.type "arma")}}
    <div class="form-group">
      <label>Dado de Dano</label>
      <input type="text" name="system.damage" value="{{system.damage}}"/>
    </div>
    {{/if}}

    {{!-- Mostra campos específicos para o tipo 'armadura' --}}
    {{#if (eq item.type "armadura")}}
    <div class="form-group">
      <label>Bónus de Armadura</label>
      <input type="text" name="system.armorBonus" value="{{system.armorBonus}}" data-dtype="Number"/>
    </div>
    {{/if}}

    {{!-- Campo de descrição, comum a todos os itens --}}
    <div class="form-group">
      <label>Descrição</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

  </div>

</form>